  <nav class="navbar navbar-expand-lg">
     <a class="navbar-brand" href="#">
    <img src="../../../assets/images/logo.png">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-content" aria-controls="navbar-content" aria-expanded="false" aria-label="toggle-navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
      <div class="collapse navbar-collapse" id="navbar-content">
        <ul class="sf-menu navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="#"><i class="fas fa-home"> Home</i></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#"><i class="fas fa-film"> Movies</i></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#"><i class="fas fa-tv"> TV Series</i></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#"><i class="fas fa-align-left"> Magazines</i></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#"><i class="fab fa-blogger"> Blogs</i></a>
          </li>
        </ul>
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      </div>
    </nav>
    
  