body {
  margin:0;
  padding:0;
}
.navbar {
    width:100%;
    background-color: #212529;
}
nav {
  height:100x;
}
.navbar-nav {
  margin:auto;
}
.nav-link {
  margin:5px 20px;
  color: floralwhite;
  font-size: larger;
  font-family: Arial, Helvetica, sans-serif;;
 }
.nav-link:hover {
  color: steelblue;
}
.form-control{
  width: 20%;
}

.sf-menu i{
      line-height: 1;
    margin-right: 7px;
    font-size: 105%;
    position: relative;
    margin-bottom: -4px;
    margin-top: -4px;
}
.fas {
  font-weight: 400;
}



