<div class="bg"></div>
<div class="login-card">
  
    <div class="brand-wrapper">
      <img src="../../../../assets/images/logo.png" alt="logo" class="logo" />
    </div>
    <br>
        <p class="login-card-description">Enter Details</p>
    <div class="card-body">
    <form [formGroup]="loginForm" (ngSubmit)="login()">
    <input type="text" id="username" placeholder="Your Name" autocomplete="off" formControlName="username" required>
    <br>
    <input type="text" id="seatno" placeholder="Your Seat Number" formControlName="seatno" required>
      <div class="actions">
        <button  class="btn btn-block login-btn mb-4" color="primary" type="submit" [disabled]="!loginForm.valid">LOG IN</button>
      </div>
</form>
</div>
</div>



