body{
  font-family: 'Times New Roman', Times, serif;
}
.bg {
    position: fixed;
    background-image: url("../../../../assets/images/welcome-banner.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    left: 0;
    right: 0; 
    z-index: 1;
    filter: blur(2px);
    -webkit-filter: blur(2px);
}

.login-card{
  position: fixed;
  z-index: 9999;
  margin-left: 460px;
  margin-top: 100px;
  height: 450px;
  width:400px;
  border: 2px;
  border-radius: 5px;
  background-color: whitesmoke;
box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.14);  opacity: 5px;

}

.card-body{
  margin-left: auto;
  font-style: 1.5vw Arial;
  align-items: center;
  justify-content: center;
}
.brand-wrapper .logo {
  margin-top: 50px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 80px;
  align-items: center;
}

p.login-card-description{
  font-family: 'Times New Roman', Times, serif;
  font-size: 30px;
  text-align: center;
}
input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

button {
  background-color: steelblue;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}



